.container.testimonials__container {
  height: auto;
  min-height: 20rem;
  width: 50%;
  max-width: 45rem;
  padding-bottom: 3rem;
}

.client__avatar {
  width: 4rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  margin: 0 auto 1rem;
  border-radius: 50%;
  border: 0.4rem solid var(--color-primary-variant);
}

.testimonial {
  background: var(--color-bg-variant);
  text-align: center;
  padding: 2rem;
  border-radius: 2rem;
  user-select: none;
}

.client__review {
  font-size: 0.85rem;
  color: var(--color-light);
  font-weight: 300;
  display: block;
  width: 80%;
  margin: 0.8rem auto 0;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  background: var(--color-primary);
}

/************************* Media queries (medium devices) ******************************/
@media screen and (max-width: 1024px) {
  .container.testimonials__container {
    height: auto;
    width: 80%;
  }
}
/************************* Media queries (small devices) ******************************/
@media screen and (max-width: 600px) {
  .container.testimonials__container {
    height: auto;
    width: var(--container-width-sm);
  }
  .client__review {
    width: 100%;
  }
}
